
body{
   margin: 0px;
   padding: 0;
background-color:whitesmoke;
background-image: url(l.png);
background-repeat: no-repeat;
background-position: top left;
background-size: cover;
}
p{
   font-family:Arial;
   font-size:small;
   font-weight:bold;
   color:#999;
   text-align:right;
   text-decoration:underline;
   text-transform: capitalize;
   text-shadow:1px 0px 1px #999;
   text-decoration-color: #999;}
   span{color:blue; size:30px;
   font-weight:bold;}

   #para{
      font-family:Verdana;
      font-size:medium;
      font-weight:bold;
      color:#666;
      text-align:left;
      text-decoration:underline;
      text-transform: capitalize;
      text-shadow:1px 0px 1px #666;
      text-decoration-color: #666;                                                                                                                                 
   }